# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore


Sedans
  Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city 
  or on your next road trip.

  SUVs
  Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation 
  and off-road adventures.

  Luxury
  Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury 
  rental and arrive in style