body{
    margin: 0%;
    padding: 0%;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(192, 18%, 75%)
}
.container{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    height: 500px;
    width: 350px;
    margin-top: 5%;
    margin-left: 36%;
    background-color:white;
    border-radius: 20px;
}
.hero{
    height: 150px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.order{
    padding-top: 10%;
}
#O{
    padding-top: 25%;
    padding-left: 24%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(223, 47%, 23%);
}
.text{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:hsl(224, 23%, 55%);
    font-size: 16px;
    padding-left: 12%;
    padding-right: 12%;
    font-weight: 600;
}
.music{
    height: 40px;
    width: 40px;
    padding-left: 45%;
    padding-top:18%;
}
.three{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
}
.price{
    padding-left: 1%;
    font-size: large;
    color:hsl(223, 47%, 23%);
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
.change{
    padding-left:30%;
    text-decoration: underline;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    padding-top: 10%;
}
.four{
    display: grid;
    grid-template-rows:1fr 1fr ;
    row-gap: 5px;
    padding-left:13%;
    padding-right: 10%;
}
#btn{
    background-color:hsl(245, 75%, 52%);
    color:white;
    font-size: larger;
    height: 33px;
    border-radius:10px;
    border: none;
   
}
#btn:hover{
    background-color: hsl(245, 76%, 59%);
    cursor:pointer
}
#btn1{
    
    background-color: rgb(248, 225, 226);
    cursor:pointer;
    height: 33px;
    border-radius:20px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;

}
#btn1:hover{
    background-color:hsl(244, 64%, 79%) ;
}
@media screen and (min-width:300px)and (max-width:365px){
   
    .container{
        margin-left: 0%;
    }
}